.head-title {
  color: #6c757d;
}
#container {
  margin-bottom: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 120px;
  background-image: url(https://st4.depositphotos.com/1071909/30078/i/600/depositphotos_300786376-stock-photo-coach-motivate-to-personal-development.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
}
.header-title {
  color: aliceblue;
}
.header-line {
  width: 20.25rem;

  margin: 1.5rem auto;
  border: none;
  border-top: 0.2rem solid #0062ff;
}
.header-subtitle {
  color: #000000;
  font-size: large;
}
.btn-header {
  background-color: rgb(39, 46, 248);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  margin-top: 80px;
  font-size: 16px;
  cursor: pointer;
}
.title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}

.about-me {
  background-color: rgb(184, 228, 249);
  text-align: center;
  padding-top: 30px;
}
.main-subject {
  display: flex;
  padding: 20px 0px;
}

.main-picture {
  max-width: 28%;
  border-radius: 10px;
}
.skill {
  margin: 10px 50px;
}
.skill:hover {
  height: 255px;
}
.skill-image {
  display: flex;
  height: 250px;
}
.js-project {
  height: 500px;
}
.practice1 {
  display: flex;
}
